# Android Standard
*.iml
.gradle
.idea
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx
build/

# Gradle/Build (Recursive)
.gradle/
**/build/
**/release/

# IDE
.idea/

# Secrets (CRITICAL)
*.jks
*.keystore
google-services.json
key.properties

# Outputs & binaries
*.apk
*.aab
*.ap_
*.log

